.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 799px) {
        gap: 30px;
    }
}


.label {
    @media (min-width: 799px) {
        line-height: 110%;
        letter-spacing: -0.1px;
    }
}

.text {


}

.line {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}