@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url('./Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    src: url('./Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: url('./Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    src: url('./Rubik-SemiBold.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src: url('./Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 800;
    src: url('./Rubik-ExtraBold.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 900;
    src: url('./Rubik-Bold.ttf');
}

/*****************************************************/

@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    font-style: italic;
    src: url('./Rubik-LightItalic.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: italic;
    src: url('./Rubik-Italic.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: italic;
    src: url('./Rubik-MediumItalic.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    font-style: italic;
    src: url('./Rubik-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: italic;
    src: url('./Rubik-BoldItalic.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 800;
    font-style: italic;
    src: url('./Rubik-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 900;
    font-style: italic;
    src: url('./Rubik-BoldItalic.ttf');
}