
.root {
    display: flex;
    gap: 25px;
}

.button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 250ms;
    border-radius: 50%;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}