
.rubik_bubbles {
    font-family: "Rubik Rubbles", sans-serif;
    font-weight: 400;
}

.rubik_light {
    font-family: Rubik, sans-serif;
    font-weight: 300;
}

.rubik_regular {
    font-family: Rubik, sans-serif;
    font-weight: 400;
}

.rubik_medium {
    font-family: Rubik, sans-serif;
    font-weight: 500;
}

.rubik_semi_bold {
    font-family: Rubik, sans-serif;
    font-weight: 600;
}

.rubik_bold {
    font-family: Rubik, sans-serif;
    font-weight: 700;
}

.rubik_extra_bold {
    font-family: Rubik, sans-serif;
    font-weight: 800;
}

.rubik_black {
    font-family: Rubik, sans-serif;
    font-weight: 900;
}

.heading_1 {
    font-family: "Rubik Rubbles", sans-serif;
    font-size: 55px;
    line-height: 145%;
    font-weight: 400;

    @media (min-width: 799px) {
        font-size: 122px;
        line-height: 120%;
        letter-spacing: 12.2px;
    }

    @media (min-width: 1279px) {
        font-size: 200px;
        line-height: 120%;
        letter-spacing: 20.5px;
    }
}

.heading_4 {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.3px;

    @media (min-width: 799px) {
        font-size: 24px;
    }

    @media (min-width: 1279px) {
        font-size: 36px;
    }
}

.heading_5 {
    font-family: Rubik, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.3px;

    @media (min-width: 799px) {
        font-size: 18px;
        letter-spacing: -0.3px;
    }

    @media (min-width: 1279px) {
        font-size: 26px;
        letter-spacing: -0.3px;
    }
}

.caption {
    font-family: "Fragment Mono", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.3px;

    @media (min-width: 799px) {
        font-size: 14px;
    }

}