.root {
    padding: 60px 0 80px;

    font-family: "Google Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    :global(.swiper-slide-prev), :global(.swiper-slide-next) {
        opacity: 50%;
        transition: 250ms;
    }
}

.title {
    margin: 0;
    font-size: 55px;
    line-height: 130%;
    font-weight: 400;
    color: #A1613B;
}

.list {
    width: 100%;
}
