.root {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 131px;
    background-color: #FAFAFA;

    gap: 24px;
    padding: 0 175px;
    align-items: center;
    justify-items: center;
}

.item {
    height: 100%;
    display: flex;
    align-items: center;
}