.root {
    padding-top: 20px;
    padding-bottom: 40px;

    @media (min-width: 800px) {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @media (min-width: 1280px) {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}

.title {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 800px) {
        margin-bottom: 50px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 70px;
    }
}
