.root {
    position: relative;
    height: 900px;
    background-color: #DDC0AE;
}

.box {
    height: 100%;
    max-width: 1920px;
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0 auto;
}

.content {
    padding: 154px 0 0 135px;
}

.social {
    position: absolute;
    left: 0;
    bottom: 0;
}