.wrap {
    height: 44px;
    border-radius: 22px;
    background-color: #FFF;
    padding: 0 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.input {
    border: none;
    color: #30261C;
    outline: none;
}

.input::placeholder {
    color: #30261CAA;
}