.wrap {
  padding: 64px 0;
  gap: 23px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .label {
    text-align: center;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    font-size: 32px;
    color: #30261C;
  }

  .header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    word-spacing: 0.5px;
  }
}

.list {
  max-width: 1540px;
  margin: 23px auto 0;
}

.pagination_list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.pagination_item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #30261C7F;
  cursor: pointer;
  transition: background 0.3s ease;

  &.active {
    background: #30261C;
  }
}

@media (max-width: 1024px) {
  .list {
    flex-direction: column;
    align-items: center;
  }
}