.root {
    font-family: "Google Sans", sans-serif;
    display: grid;
    grid-template-rows: auto 34px auto 13px auto;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}

.icon {
    grid-area: icon;
    grid-row: 1;
}

.title {
    grid-row: 3;
    font-weight: 500;
    font-size: 24px;
    color: #1E1E1E;
}

.text {
    grid-row: 5;
    text-align: center;
    max-width: 232px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
}