.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E2D9C8;
    height: 335px;
    overflow: hidden;
}

.imageLeft,
.imageRight {
    display: flex;
    height: 100%;
}

.beansImage {
    height: 100%;
    object-fit: cover;
}

.content {
    flex: 1;
    display: grid;
    grid-template:
    ".       .       .   " 82px
    ".       title   .   "
    ".       .       .   " 23px
    ".       button  .   "
    ".       .       .   " 80px
    /87px    auto    88px;

    .title {
        grid-area: title;
        text-align: start;
        line-height: 50px;
    }

    .button {
        grid-area: button;
        width: 258px;
    }
}

