
.root {
    display: flex;
    align-items: center;
    border: 1.5px solid #F5F5F5;
    padding: 7px 8px 7px 20px;
    border-radius: 33px;
}

.label {
    flex: 1;

    .input {
        font-size: 18px;
        border: none;
        outline: none;
        color: #555454;
    }

    .input::placeholder {
        padding-left: 1px;
    }
}

.button {
    background-color: #A1613B;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 26px;
    border: none;

    width: 192px;
    height: 51px;
}