.root {
    max-width: 1980px;
    padding: 80px 100px 0;
    display: grid;

    grid-template:
    "image  .    ." 144px
    "image  .    title" 58px
    "image  .    ." 9px
    "image  .    hint" 25px
    "image  .    ." 45px
    "image  .    form" 65px
    "image  .    ." 144px
    / 589px 31px 1fr;

    font-family: "Google Sans", sans-serif;
}

.image {
    grid-area: image;
}

.title {
    grid-area: title;
    font-size: 46px;
    color: #A1613B;
    font-weight: 400;
}

.hint {
    grid-area: hint;
    font-size: 20px;
    font-weight: 400;
    color: #555454;
}

.form {
    grid-area: form;
}